@charset "utf-8";

/* inputBox */
.inputBox {position:absolute;top:1px;left:0;width:200px;padding:1px 1px 1px 1px;}
.inputBox .inputBorder{line-height:18px;font-weight:bold;font-size:0.87em;color:#000;*ime-mode:active;outline:none;width:258px;_width /**/:272px;height:26px;_height /**/:40px;margin-right:5px;padding-left:3px;border:4px solid #FF5E00;background-color:#fff}
.inputBox .onoff{position:absolute;top:8px;left:240px;}

/* suggestbox */
.suggestBox {position:absolute;top:33px;left:1px;z-index:9999;width:100%;padding:0 0 0 0;}
.suggestBox {font-size:12px;line-height:27px;font-family:'굴림',gulim,sans-serif;background-color:#fff}
.suggestBox .list {padding:1px 0 1px;border-right:1px solid #a5a6ac;border-left:1px solid #a5a6ac;color:#000}

.suggestBox .baseBox {/* position:relative; *//* overflow:hidden; */border:1px solid #e5333d;/* border-top:none; */background-color:#fff;color: #e5333d;zoom:1}
.suggestBox .bottom {overflow:hidden;text-align:right;clear:both;width:100%;padding:6px 0;border:1px solid #e1e1e1;border-width:1px 0 0;background:#f5f5f5;color:#5d5d5d;font:11px/1.3em Dotum,Helvetica,sans-serif;}

.suggestBox .baseBox li {overflow:hidden;height:19px;padding:2px 9px;line-height:22px;text-align:left;cursor:pointer}
.suggestBox .baseBox li strong {color:#e5333d}
.suggestBox .baseBox li.emp {background-color:#e7e7e7}
.suggestBox .baseBox li.lastitem { border-bottom: 1px solid goldenrod; }
.suggestBox .baseBox li.title {color:#0000ff;}

.sampleWarp, .link {height:500px; }
.sampleWarp {width:500px; float:left; }
.sampleWarp .formWrap { margin-left:50px; position:relative; margin-top:50px;}
.sampleWarp form {margin:0 auto; display: block;}
.link { width:400px; float:left; margin-left: 15px; text-align:center; }
.link ul {margin:60px auto;}
.link li {font-size:12px; text-decoration: underline;display:block;}
.link h4 {display:block; margin:60px auto;}
